################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TestVeeam/.vs/TestVeeam/v16/Server/sqlite3/storage.ide-wal
