################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TestVeeam/.vs/TestVeeam/v16/Server/sqlite3/storage.ide-wal
/TestVeeam/.vs/TestVeeam/v16/Server/sqlite3/storage.ide-shm
/TestVeeam/.vs/TestVeeam/v16/Server/sqlite3/storage.ide
/TestVeeam/.vs/TestVeeam/v16/Server/sqlite3/db.lock
/TestVeeam/.vs/TestVeeam/v16/.suo
